.UserInput {
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
}

.straightLine {
  height: 2px;
  border: 1px solid black;
  width: 100px;
}

.UserInput h4 {
  font-size: 20px;
}

.UserInput .Button {
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 5px 10px;
}
