.Card {
  height: 150px;
  width: 150px;
  margin: 20px;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 10px;
  background-color: red;
}

.Card img {
  width: 100%;
  height: 100%;
}

.Card:hover {
  transform: scale(1.2);
}
